.headerTable{
    width: 100%;
    background-color: white;
    table-layout:fixed;
}

.headerTab {
    text-align:center;
}

.pageHeader{
    text-align:center;
    width:100%;
    font-size:large;
}

.pagePanel{
    background-color:white;
    margin: 10px 10px 10px 10px;
    width: 100%;
    min-height:100px;
}

.pageBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}