@import url('https://fonts.googleapis.com/css?family=Montserrat:600,regular,bold,italic&subset=latin,latin-ext');

.headerTable {
    width: 100%;
    background-color: white;
    table-layout: fixed;
    border: none;
    border-bottom: none;
    border-collapse: collapse;
}

.headerTab {
    text-align:center;
    font-family: 'Montserrat';
    font-weight:bold;
}

.pageHeader{
    text-align:center;
    vertical-align:central;
    width:100%;
    font-size:x-large;
    margin-top:25px;
    font-family:'Montserrat';
    font-weight:bold;
}

.pagePanel {
    background-color: azure;
    margin: 20px;
    width: initial;
    min-height: 100px;
    padding: 25px;
}

.pageBackground {
    position: absolute;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0; 
}

.subHeader {
    text-align: left;
    font-size: large;
    font-family: 'Montserrat';
    font-style:italic;
    font-weight:600;
}

.bodyText {
    font-family: 'Montserrat';
    font-size:small;
}

.indentedBodyText {
    font-family: 'Montserrat';
    font-size: small;
    margin-left:25px;
    line-height:20px;
}

.button {
    font-size: medium;
    font-family: 'Montserrat';
    border: none;
    margin: 10px 10px 10px 10px;
    padding: 10px 15px 10px 15px;
}

.buttonSmall {
    font-size: small;
    font-family: 'Montserrat';
    border: none;
    margin: 10px 10px 10px 10px;
    padding: 10px 15px 10px 15px;
    background-color:orange;
}

.applyFont{
    font-family:'Montserrat';
}
.bands{
    height: 150px;
    width: 30px;
    margin: auto;
}

.slider{
    accent-color:goldenrod;
    border: none;
    background-color:white;
    background:white; 
}

.divider{
    background-color:orange;
    height:1px;
    width:100%;
    margin: 10px 10px 10px 10px;
}
